body{

  background:linear-gradient( var(--turkesa), var(--azul-oscuro));
}


:root {
  --azul-oscuro: #061816;
  --azul-claro: #0f4052;
  --marron: #bd7026;
  --amarillo-claro:#d9c680;
  --blanco-hueso:#edede0;
  --turkesa:#48d1cc;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
